.container {
  padding: 0 3.5rem;
  background-color: var(--orange);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.item {
  flex: 1;
  display: flex;
  align-items: center;
}
.item:nth-child(2) {
  flex: 3;
}
.item:last-child {
  justify-content: flex-end;
}
.callButton {
  background-color: var(--white);
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
  padding: 1rem;
  cursor: pointer;
}
.callButton:hover {
  padding: 0.7rem;
  transition-duration: 0.1s;
}
.texts {
  color: var(--white);
  margin-left: 1.1rem;
}
.text:nth-child(1) {
  font-size: 1 rem;
  font-weight: 500;
}
.text:nth-child(2) {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.text:nth-child(2):hover {
  color: rgb(0, 0, 0);
  transition-duration: 0.1s;
}

.list {
  display: flex;
  align-items: center;
}
.listItem {
  list-style: none;
  margin: 0.9rem;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.1rem;
  cursor: pointer;
}
.listItem:hover {
  padding-top: 0.7rem;
  transition-duration: 0.1s;
}
.listItem:nth-child(4):hover {
  padding-top: 0rem;
  transition-duration: 0.1s;
}
.cart {
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.counter {
  position: absolute;
  right: -10px;
  top: -10px;
  background: var(--white);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  font-weight: 700;
  padding-bottom: 0.1rem;
}
.cart:hover .counter {
  transition-duration: 0.1s;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 480px) {
  .item:nth-child(2) {
    display: none;
  }
  .item:nth-child(1) {
    flex: 3;
  }
  .container {
    padding: 0 2rem;
   
  }
}
